@import url('https://fonts.googleapis.com/css?family=Volkhov');


.navbar-brand{
    font-family:'Volkhov', 'Sans-serif' !important;
    font-size:2.0rem !important;
}
.nav-item{
   font-size:1.2rem !important;
}
body{
    font-family:'Volkhov', 'Sans-serif' !important;
}
